@use "../variables/variables" as v;
@use "../mixins/mixins" as m;

.discover {
  width: 100%;
  h1 {
    @include m.homePageTitle;
    margin-top: 10rem;
  }
  //wrapper
  > div {
    padding: 2rem 15vw;
    display: grid;
    grid-template: 500px / repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 500px;

    gap: 2rem;
    color: white;
    font-family: v.$mainFont;
    > div {
      @include m.selectCard;
      &:hover {
        scale: 1.02;
        cursor: pointer;
      }
      img {
        width: 100%;
        height: 260px;
        object-fit: cover;
      }
      h2 {
        display: flex;
        width: 100%;
        justify-content: space-between;
        font-size: 1.25rem;
        padding: 1rem;
        border-bottom: 1px solid rgba($color: #ffff, $alpha: 0.5);
      }
      h3 {
        color: rgba($color: #ffff, $alpha: 0.5);
        padding: 1rem;
      }
    }
  }
}
