@use "../variables/variables" as v;
@use "../mixins/mixins" as m;

.eventPage {
  width: 100%;
  padding: 2rem 4rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  h1 {
    color: white;
    font-family: v.$mainFont;
    position: relative;
    opacity: 0.65;
    &::after {
      content: " ";
      display: block;
      background-color: rgba(255, 255, 255, 0.5);
      width: 100%;
      height: 1px;
    }
  }
  .mainImg {
    margin-top: 4.5rem;
    width: 100%;
    max-width: 1000px;
    object-fit: cover;
  }
  .ourViewSection {
    color: white;
    max-width: 1000px;
    padding: 2rem 4rem;
    h2 {
      font-family: v.$titleFont;
      text-decoration: underline;
      margin-bottom: 1rem;
    }
    p {
      font-family: v.$mainFont;
    }
  }
  .selectDesign {
    color: white;
    .mainTitle {
      text-align: center;
      margin: 2rem 0;
      font-size: 2rem;
      font-family: v.$titleFont;
      font-weight: 100;
      opacity: 0.85;
      &::after {
        content: " ";
        display: block;
        background-color: rgba(255, 255, 255, 0.5);
        width: 100%;
        height: 1px;
        margin-top: 0.5rem;
      }
    }
    .optionsWrapper {
      display: flex;
      gap: 1.25rem;
      flex-wrap: wrap;
      justify-content: center;
      > div {
        @include m.selectCard;
        //overwriting some properties
        height: 400px;
        transition: scale 0.2s linear, box-shadow 0.4s ease-in-out,
          border 0.4s ease-in-out;
        position: relative;
        input[type="radio"] {
          position: absolute;
          top: 0;
          z-index: 2;
          width: 100%;
          height: 100%;
          opacity: 0;
        }
        &:has(input[type="radio"]:checked) {
          scale: 1.03;
          box-shadow: 0px 0px 12px red;
          border: 1px solid red;
        }
        img {
          object-fit: cover;
          object-position: 50%;
          height: 80%;
        }
        h3 {
          padding: 0 2rem;
          display: flex;
          justify-content: space-between;
          align-items: center;
          height: 100%;
          gap: 20%;
          font-family: v.$mainFont;
          font-size: 1.5rem;
          span {
            opacity: 0.8;
            font-size: 1.25rem;
            border: 2px solid lightblue;
            padding: 0.75rem;
            border-radius: 2rem;
          }
        }
        &:hover,
        input:hover {
          scale: 1.02;
          cursor: pointer;
          //transition is in the mixin
        }
      }
    }
  }
  .paymentSection {
    height: 0rem;
    position: fixed;
    background-color: rgb(251, 251, 251);
    width: 100%;
    bottom: 0;
    z-index: 4;
    border-top: 3px solid darkgray;
    color: black;
    transition: height 0.4s ease-in-out;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    .arrow {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2.5rem;
      width: 3rem;
      height: 3rem;
      left: 50%;
      transform: translateX(-50%);
      top: -2.25rem;
      background-color: rgb(44, 44, 44);
      z-index: 5;
      padding: 1rem;
      border-radius: 5rem;
      color: white;
      &:hover {
        cursor: pointer;
      }
    }
    &.opened {
      height: 32rem;
    }
    .itemsWrapper {
      display: grid;
      grid-template: 1fr / repeat(auto-fill, minmax(300px, 1fr));
      gap: 4rem;
      width: 100%;
      overflow: scroll;
      min-height: 21rem;
      h2 {
        text-align: center;
        font-family: v.$titleFont;
        font-size: 1.75rem;
      }
      .item {
        font-family: v.$mainFont;
        img {
          width: 100%;
        }
        h3 {
          font-size: 1.25rem;
          margin-bottom: 0.2rem;
        }
        p {
          font-size: 1.05rem;
        }
      }
    }
    button {
      width: 8rem;
      height: 2.75rem;
      margin-top: 1rem;
      background-color: black;
      color: white;
      font-family: v.$titleFont;
      font-size: 1.5rem;
      box-shadow: 4px 6px rgb(255, 223, 41);
      border-radius: 0.25rem;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
